@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
    <meta charset="utf-8">
    <base href="/" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"><!-- Stylesheets-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <link href="~/static/stylesheets/style.css" rel="stylesheet">

    <!--[if lt IE 10]>
    <div
            style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="/static/img/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="/static/js/html5shiv.min.js"></script>
    <![endif]-->

</head>


<body>
    <!-- Page-->
    <div class="page">
        <!-- Page Header-->
        <header class="page-head">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                     data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
                     data-lg-stick-up-clone="true" data-md-stick-up-offset="157px" data-lg-stick-up-offset="157px"
                     class="rd-navbar rd-navbar-default">
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle">
                                <span></span>
                            </button><!-- RD Navbar Brand--><a href="/Start/Index" class="rd-navbar-brand">

                                <div class="brand-image">
                                    <img src="/static/img/svg/logo.svg" alt="" width="199" height="35">
                                </div>

                            </a>

                        </div>
                        <div class="rd-navbar-aside">
                            <div data-rd-navbar-toggle=".rd-navbar-aside" class="rd-navbar-aside-toggle"><span></span></div>
                            <div class="rd-navbar-aside-content">
                                <ul class="block-wrap-list">

                                    <li class="block-wrap">
                                        <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                                            <div class="unit-left">
                                                <figure>
                                                    <img src="/static/img/icon-phone-28x29.png" alt="" width="28"
                                                         height="29" />
                                                </figure>
                                            </div>
                                            <div class="unit-body">
                                                <address class="contact-info">
                                                    <span class="text-bold">
                                                        <a href="callto:#"
                                                           class="text-gray-base">8-800-707-10-00</a>
                                                    </span><span>
                                                        <a href="mailto:info@invoice.cafe">info@invoice.cafe</a>
                                                    </span>
                                                </address>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="bg-athens-gray bg-wrap">
                                    <div class="block-container">
                                        <div class="block-left"><p class="rd-navbar-fixed--hidden small">@Localizer["Добро пожаловать в"] InvoiceCafé</p></div>
                                        <div class="block-right">
                                            <ul class="list-inline">
                                                <li>
                                                    <a href="#"
                                                       class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-facebook"></a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-twitter"></a>
                                                </li>
                                                <li>
                                                    <a href="#"
                                                       class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-google-plus"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @await Html.PartialAsync("StartPartials/_StartMenuPartial")
                    </div>
                </nav>
            </div>
        </header>


        @RenderBody()




        <!-- Page Footer-->
        <footer class="page-foot">
            <section class="section-45 section-sm-75 bg-river-bed">
                <div class="shell text-center text-sm-left">
                    <div class="range range-xs-center">
                        <div class="cell-xs-12 cell-sm-6 cell-lg-3">
                            <a href="/Start/Index" class="brand offset-top-5">

                                <div class="brand-image ">
                                    <img src="/static/img/svg/logo_f.svg" alt="" width="199" height="35">
                                </div>

                            </a>
                            <p class="offset-sm-top-34">@Localizer["Онлайн-аукцион по продаже дебиторской задолженности"]</p>
                            <div class="elements-group-1 offset-top-22">
                                <span class="small text-italic">@Localizer["Мы в соц сетях:"]</span>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#"
                                           class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-google-plus"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-sm-top-0">
                            <h4>@Localizer["Навигация"]</h4>
                            <hr class="hr-variant-1">
                            <nav class="footer-nav-wrap text-xs-left">
                                <div class="footer-nav-column">
                                    <ul class="footer-nav">
                                        <li><a href="/Start/HowItWorks">@Localizer["Как это работает"]</a></li>
                                        <li><a href="/Start/Pricing">@Localizer["Калькулятор"]</a></li>


                                        @*<li><a href="/project">@Localizer["О проекте"]</a></li>*@
                                    </ul>
                                </div>
                                <div class="footer-nav-column">
                                    <ul class="footer-nav">

                                        <li><a href="/Start/ForSeller">@Localizer["Поставщику"]</a></li>
                                        <li><a href="/Start/ForDebtor">@Localizer["Дебитору"]</a></li>
                                        <li><a href="/Start/ForInvestor">@Localizer["Инвестору"]</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                            <h4>@Localizer["Всегда на связи"]</h4>
                            <hr class="hr-variant-1">
                            <address class="contact-info reveal-inline-block">
                                <ul class="contact-info-list">
                                    <li class="unit unit-horizontal unit-spacing-md">
                                        <div class="unit-left">
                                            <span class="icon icon-sm icon-picton-blue fa-phone"></span>
                                        </div>
                                        <div class="unit-body">
                                            <span class="text-bold"><a href="callto:#">8-800-707-10-00</a></span>
                                        </div>
                                    </li>
                                    <li class="unit unit-horizontal unit-spacing-md">
                                        <div class="unit-left">
                                            <span class="icon icon-sm icon-picton-blue fa-envelope-o"></span>
                                        </div>
                                        <div class="unit-body"><span><a href="mailto:info@invoice.cafe">info@invoice.cafe</a></span></div>
                                    </li>

                                </ul>
                            </address>
                        </div>
                        <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                            <h4>@Localizer["Подписывайтесь"]</h4>
                            <hr class="hr-variant-1">
                            <p>@Localizer["Получайте последние обновления"]</p><!-- RD Mailform-->
                            <form data-form-output="form-output-global" data-form-type="subscribe" method="post"
                                  action="bat/rd-mailform.php" class="rd-mailform rd-mailform-inline max-width-300">
                                <div class="form-group">
                                    <label for="footer-contact-email"
                                           class="form-label">E-Mail</label><input id="footer-contact-email" type="email" name="email" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-xs btn-picton-blue">@Localizer["Отправить"]</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-14 bg-ebony-clay">
                <div class="shell text-center">
                    <p class="rights">
                        &#169;&nbsp;<span id="copyright-year"></span>&nbsp;InvoiceCafé
                    </p>
                </div>
            </section>
        </footer>

    </div>
    <div id="form-output-global" class="snackbars"></div>
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/nouislider.min.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/pickmeup.js"></script>
    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>