@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
<section class="section-85 border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cel-xs-12 cell-sm-6">
                <h3>@Localizer["Как это работает?"]</h3>
            </div>
        </div>

        <div class="range">
            <div class="cel-xs-12 cell-sm-6 cell-md-3 ">
                <img src="../../static/img/svg/circle_33.svg" alt="" width="72" height="72">
                <h5>@Localizer["Поставщик загружает <br />задолженность"]</h5>
                <p>
                    @Localizer["Поставщик загружает задолженность. Мы ее верифицируем."]
                </p>
            </div>
            <div class="cel-xs-12 cell-sm-6 cell-md-3">
                <img src="../../static/img/svg/circle_66.svg" alt="" width="72" height="72">
                <h5>@Localizer["Инвестор покупает <br />задолженность"]</h5>
                <p>
                    @Localizer["Множество фильтров для выбора нужной задолженности"]
                </p>
            </div>
            <div class="cel-xs-12 cell-sm-6 cell-md-3 section-sm-top-25 section-md-top-0">
                <img src="../../static/img/svg/circle_99.svg" alt="" width="72" height="72">
                <h5>@Localizer["Дебитор оплачивает <br />задолженность"]</h5>
                <p>
                    @Localizer["В отличии от классического факторинга, Вам не нужно путаться в бумажной волоките, а достаточно подтвердить получение уведомление одним кликом"]
                </p>
            </div>

            <div class="cel-xs-12 cell-sm-6 cell-md-3 section-sm-top-25 section-md-top-0">
                <blockquote class="quote-variant-1">
                    <div class="quote-header"><img src="../../static/img/home-5-72x72.jpg" alt="" width="72" height="72"></div>
                    <div class="quote-body">
                        <q>
                            Wow, I'm so happy with
                            your service. You managed
                            to exceed my expectations!
                            You guys are very efficient.
                        </q>
                    </div>
                    <div class="quote-meta">
                        <cite>Louise Smith</cite>
                        <p class="text-gray-light">(CEO &amp; Founder)</p>
                    </div>
                </blockquote>
            </div>

        </div>
    </div>
</section>