@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    Layout = "_StartLayout";
}


<main class="page-content">
    <!-- Main services-->
    @await Html.PartialAsync("StartPartials/_StartInnerTitlePartial")


    <section class="section-85">
        <div class="shell">
            <div class="range range-sm-center">
                <div class="cell-xs-12 cell-sm-5 cell-lg-3">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/star.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Электронный документооборот"]</a></h4>
                        <p>
                            @Localizer["Абсолютно бесплатно!"]
                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-sm-top-0">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <span class="icon icon-md-variant-2 icon-primary fl-sympletts-coffee2"></span>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Уведомление о сделке"] </a></h4>
                        <p>
                            @Localizer["Для подтверждения теперь достаточно одного клика"]

                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/case.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Совместное развитие"]</a></h4>
                        <p>
                            @Localizer["Растут партнёры, растёте и Вы"]
                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/coin.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Сокращайте дебиторускую задолженность"]</a></h4>
                        <p>
                            @Localizer["Данная функция станет доступной совсем скоро"]
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>




    <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-darker">
        <div data-speed="0.5" data-type="media" data-url="/static/img/bg-image-6.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell text-center text-md-left">
                <div class="range">
                    <div class="cell-xs-12">

                        <div class="section-45 section-sm-top-85 section-sm-bottom-75 text-center">
                            <h3 class="">
                                @Localizer["Сокращайте издержки за счёт <br />электронного документооборота, <br />способствуя развитию МСП России"]
                            </h3>


                            <div class="elements-group section-top-25">
                                <a href="services.html" class="btn center-block btn-sm btn-curious-blue-variant-1 min-width-160">@Localizer["Регистрация Дебитора"]</a>

                            </div>
                            <h6 class="text-regular">
                                *-@Localizer["минимальная ставка"]
                            </h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @await Html.PartialAsync("StartPartials/_StartAdvert2Partial")



    <section class="section-85">
        <div class="shell">
            <h3 class="text-center">@Localizer["Как начать"]</h3>
            <div class="range range-sm-center">
                <div class="cell-xs-12 cell-sm-5 cell-lg-3">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/pen.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Зарегистрироватьcя"]</a></h4>
                        <p>
                            @Localizer["Регистрация займет не более 15 минут"]

                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-sm-top-0">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/checked-mark.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Мы одобряем"]</a></h4>
                        <p>
                            @Localizer["Обычно мы одобряем заявку в течении 2х дней"]
                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/coin.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Верифицируйте задолженность онлайн"] </a></h4>
                        <p>

                            @Localizer["Все действия в один клик"]
                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/diamond.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Сокращайте свой долг"]</a></h4>
                        <p>
                            @Localizer["Продукт разрабатывается, совсем скоро станет доступен."]
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div class="elements-group offset-top-38">
            <a href="#" class="btn btn-sm btn-curious-blue center-block">@Localizer["Стать Дебитором"]</a>
        </div>

    </section>



</main><!-- Brands carousel-->
