@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    Layout = "_StartLayout";
}


<main class="page-content">
    <!-- Main services-->
    @await Html.PartialAsync("StartPartials/_StartInnerTitlePartial")

    <section class="section-top-55 section-bottom-60">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12 cell-md-8 cell-lg-9">
                    <div class="range">
                        <div class="cell-xs-12">
                            <h3> @Localizer["Преимущества инвестирования на InvoiceCafé"]</h3>
                            <ol class="list-index list-index-invest range offset-top-25">
                                <li class="cell-xs-12 cell-sm-4">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>


                                        <span class="icon icon-image"> <img src="../../static/img/svg/folder.svg" alt="" width="41" height="55" /></span>


                                        <h5>
                                            <a href="#">
                                                @Localizer["Расширяйте инвестиционный портфель"]
                                            </a>
                                        </h5>
                                        <p>

                                        </p>
                                    </div>
                                </li>
                                <li class="cell-xs-12 cell-sm-4 offset-top-30 offset-sm-top-0">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>

                                        <span class="icon icon-image"> <img src="../../static/img/svg/unlocked.svg" alt="" width="41" height="55" /></span>
                                        <h5>
                                            <a href="#">
                                                @Localizer["Рынок факторинга стал доступным"]
                                            </a>
                                        </h5>
                                        <p>

                                        </p>
                                    </div>
                                </li>
                                <li class="cell-xs-12 cell-sm-4 offset-top-30 offset-sm-top-0">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>

                                        <span class="icon icon-image"> <img src="../../static/img/svg/business_2.svg" alt="" width="41" height="55" /></span>
                                        <h5>
                                            <a href="#">
                                                @Localizer["Прозрачная система дохода"]
                                            </a>
                                        </h5>
                                        <p>


                                        </p>
                                    </div>
                                </li>

                                <li class="cell-xs-12 cell-sm-4 offset-top-30 offset-sm-top-10">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>

                                        <span class="icon icon-image"> <img src="../../static/img/svg/badge.svg" alt="" width="41" height="55" /></span>
                                        <h5>
                                            <a href="#">
                                                @Localizer["Все задолженности верифицируются"]
                                            </a>
                                        </h5>
                                        <p>

                                        </p>
                                    </div>
                                </li>
                                <li class="cell-xs-12 cell-sm-4 offset-top-30 offset-sm-top-10">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>

                                        <span class="icon icon-image"> <img src="../../static/img/svg/screen-outline.svg" alt="" width="41" height="55" /></span>
                                        <h5>
                                            <a href="#">
                                                @Localizer["Удобная интернет-платформа"]
                                            </a>
                                        </h5>
                                        <p>

                                        </p>
                                    </div>
                                </li>
                                <li class="cell-xs-12 cell-sm-4 offset-top-30 offset-sm-top-10">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>

                                        <span class="icon icon-image"> <img src="../../static/img/svg/equalizers.svg" alt="" width="41" height="55" /></span>
                                        <h5>
                                            <a href="#">
                                                @Localizer["Гибкая система фильтров"]
                                            </a>
                                        </h5>
                                        <p>


                                        </p>
                                    </div>
                                </li>
                            </ol>

                        </div>
                    </div>

                </div>
                <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-md-top-0">
                    <div class="inset-md-left-15 inset-md-right-15">
                        <div class="range">

                            <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">
                                <nav class="page-nav">
                                    <ul class="page-nav-list">
                                        <li><a href="">@Localizer["Преимущества"]</a></li>
                                        <li><a href="">@Localizer["Статистика"]</a></li>
                                        <li><a href="">FAQS</a></li>
                                    </ul>
                                </nav>
                                <div class="banner bg-curious-blue">
                                    <h4>
                                        @Localizer["Попробуйте бесплатно"]
                                    </h4>
                                    <p>

                                        @Localizer["Инвестируйте и получайте прибыль, способствуя развитию МСП России"]
                                    </p><a href="contacts.html" class="btn btn-sm btn-white-outline">@Localizer["Попробовать"]</a>
                                </div>
                                <div class="offset-top-30">
                                    <a href="#" class="btn btn-xxl btn-outline-thin btn-mercury-outline btn-icon btn-icon-left">
                                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>@Localizer["Скачать FAQs"]
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-darker">
        <div data-speed="0.5" data-type="media" data-url="/static/img/bg-image-5.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell text-center text-md-left">
                <div class="range">
                    <div class="cell-xs-12">

                        <div class="section-45 section-sm-top-85 section-sm-bottom-75 text-center">
                            <h3 class="">
                                @Localizer["Инвестируйте и получайте прибыль, <br />способствуя развитию МСП России"]
                            </h3>
                            <div class="elements-group text-center section-xs-75">
                                <div class="elements-wrap center-block">


                                    <h1 class="noshrink">
                                        5-7%*

                                    </h1>



                                    <div class="hr-wrap offset-top-10 offset-sm-top-15 offset-md-top-0">
                                        <hr class="hr-md-vertical hr-gray-lighter">
                                    </div>
                                    <h1 class="noshrink ">
                                        1 287 982 553 Р
                                    </h1>
                                </div>
                            </div>

                            <div class="elements-group">
                                <a href="services.html" class="btn center-block btn-sm btn-curious-blue-variant-1 min-width-160">@Localizer["Стать инвестором"]</a>

                            </div>
                            <h6 class="text-regular">
                                *-@Localizer["минимальная ставка"]
                            </h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    @await Html.PartialAsync("StartPartials/_StartAdvert2Partial")



    <section class="section-85">
        <div class="shell">
            <h3 class="text-center">@Localizer["Как начать"]</h3>
            <div class="range range-sm-center">
                <div class="cell-xs-12 cell-sm-5 cell-lg-3">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/pen.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Зарегистрироватьcя"]</a></h4>
                        <p>
                            @Localizer["Регистрация займет не более 15 минут"]

                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-sm-top-0">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/checked-mark.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Мы одобряем"]</a></h4>
                        <p>
                            @Localizer["Обычно мы одобряем заявку в течении 2х дней"]
                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/coin.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Пополните баланс"]</a></h4>
                        <p>

                            @Localizer["Минимальный размер обеспечительного  платежа составляет 300 000 руб."]
                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="../../static/img/svg/diamond.svg" alt=""
                                         width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">@Localizer["Получайте прибыль"]</a></h4>
                        <p>
                            @Localizer["Инвестируйте и получайте прибыль, способствуя развитию МСП России"]
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div class="elements-group offset-top-38">
            <a href="#" class="btn btn-sm btn-curious-blue center-block">@Localizer["Стать инвестором"]</a>
        </div>

    </section>





</main><!-- Brands carousel-->
