@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{ 
    Layout = "_StartLayout";
}
<div data-min-height="400px" class="swiper-container swiper-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide bg-gray-lighter">
            <img src="~/static/img/slide1.jpg" alt="" width="1" />
            <div class="swiper-slide-caption">
                <!-- Solutions that never miss the aim-->
                <section class="section-68 section-sm-top-125 section-sm-bottom-152 section-lg-top-152 section-lg-bottom-152">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-xs-12 cell-md-preffix-1 cell-xl-preffix-0 cell-lg-6">
                                <h2>
                                    @Localizer["Промо 1 заголовок"]<br />
                                    <span style="padding-top:0.5em">@Localizer["Промо 1 текст"]</span>
                                </h2>
                                <div class="group-md offset-top-25">

                                    <a href="/Start/Register" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">
                                        @Localizer["Попробовать сейчас бесплатно"]
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
        <div class="swiper-slide bg-gray-lighter">
            <img src="~/static/img/slide2.jpg" alt="" width="2" />
            <div class="swiper-slide-caption">
                <section class="section-68 section-sm-top-125 section-sm-bottom-152 section-lg-top-152 section-lg-bottom-152">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-xs-12 cell-md-preffix-1 cell-xl-preffix-0 cell-lg-6">
                                <h2>
                                    @Localizer["Промо 2 заголовок"]<br />
                                    <span style="padding-top:0.5em">@Localizer["Промо 2 текст"]</span>
                                </h2>
                                <div class="group-md offset-top-25">

                                    <a href="/Start/Register" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">
                                        @Localizer["Попробовать сейчас бесплатно"]
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </div>

        @*<div class="swiper-slide bg-gray-lighter">
            <img src="~/static/img/slide1.jpg" alt="" width="2" />
            <div class="swiper-slide-caption">
                <section class="section-68 section-sm-top-125 section-sm-bottom-152 section-lg-top-152 section-lg-bottom-152">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-xs-12 cell-md-preffix-1 cell-xl-preffix-0 cell-lg-6">
                                <h2>
                                    @Localizer["Продавай дебиторскую задолженность онлайн по лучшей цене."]
                                    @Localizer["Выплаты мгновенно."]
                                </h2>
                                <div class="group-md offset-top-25">

                                    <a href="/Start/Register" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">
                                        @Localizer["Попробовать сейчас бесплатно"]
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </div>*@
    </div>
    <!-- Swiper Navigation-->
    <div class="swiper-nav">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

    <main class="page-content">
        <!-- Main services-->

        <section class="section-85">
            <div class="shell">
                <div class="range range-sm-center">
                    <div class="cell-xs-12 cell-sm-5 cell-lg-3">
                        <div class="product">
                            <div class="icon-decoration-border">
                                <div class="icon-decoration-border-inner">
                                    <div class="icon icon-image">
                                        <img src="/static/img/svg/star.svg" alt=""
                                             width="41" height="36" />
                                    </div>
                                </div>
                            </div>
                            <h4>
                                <a href="#">
                                    @Localizer["Доступно всем"]
                                </a>
                            </h4>
                            <p>
                                @Localizer["Объем финансирования от 300 000 рублей"]
                            </p>
                        </div>
                    </div>
                    <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-sm-top-0">
                        <div class="product">
                            <div class="icon-decoration-border">
                                <div class="icon-decoration-border-inner">
                                    <span class="icon icon-md-variant-2 icon-primary fl-sympletts-coffee2"></span>
                                </div>
                            </div>
                            <h4>
                                <a href="#">
                                    @Localizer["Финансирование за 24 часа"]
                                </a>
                            </h4>
                            <p>
                                @Localizer["Перестаньте ждать, пора расти!"]
                            </p>
                        </div>
                    </div>
                    <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                        <div class="product product-inset-1">
                            <div class="icon-decoration-border">
                                <div class="icon-decoration-border-inner">
                                    <div class="icon icon-image">
                                        <img src="/static/img/svg/case.svg" alt=""
                                             width="41" height="36" />
                                    </div>
                                </div>
                            </div>
                            <h4>
                                <a href="#">
                                    @Localizer["Гибкое финансирование"]
                                </a>
                            </h4>
                            <p>

                                @Localizer["Продавайте одну задолженность или сразу несколько"]
                            </p>
                        </div>
                    </div>
                    <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                        <div class="product product-inset-1">
                            <div class="icon-decoration-border">
                                <div class="icon-decoration-border-inner">
                                    <div class="icon icon-image">
                                        <img src="/static/img/svg/coin.svg" alt=""
                                             width="41" height="36" />
                                    </div>
                                </div>
                            </div>
                            <h4>
                                <a href="#">
                                    @Localizer["Низкие <br>ставки"]
                                </a>
                            </h4>
                            <p>
                                @Localizer["Средняя ставка <br> 15% годовых"]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-45 section-xs-bottom-14">
                    <hr class="hr-gray-lighter">
                </div>
                <div class="range text-xs-center text-md-left">
                    <div class="cell-xs-12">
                        <div class="elements-group">
                            <div class="element-wrap">
                                <h3 class="">@Localizer["Объем профинансированной задолженности"]</h3>

                            </div>
                            <div class="element-wrap">

                                <h1 class="noshrink text-primary">1 287 982 553 Р</h1>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section data-on="false" data-lg-on="true" class="section-85 rd-parallax bg-gray-darker">
            <div data-speed="0.5" data-type="media" data-url="/static/img/bg-image-4.jpg"
                 class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
                <div class="shell text-center">
                    <div class="range range-xs-center">
                        <div class="cel-xs-12 cell-sm-6">
                            <div class="section-85">
                                <h3>@Localizer["Высокий уровень сервиса"]</h3>
                                <p>
                                    @Localizer["Мы поможем вам разобраться абсолютно во всем! Получение финансирования никогда раньше не было таким удобным и доступным"]
                                </p>
                                <div class="group offset-top-25">
                                    <a href="#" class="btn btn-sm btn-sm-mod btn-white-outline min-width-160">
                                        @Localizer["Заказать звонок"]
                                    </a>
                                    <a href="services.html" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">
                                        <span class="icon icon-sm fa-weixin"></span> @Localizer["Чат онлайн"]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        @await Html.PartialAsync("StartPartials/_StartAdvertPartial")
        @await Html.PartialAsync("StartPartials/_StartCalcPartial", "bg-athens-gray")


        <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-darker">
            <div data-speed="0.5" data-type="media" data-url="/static/img/bg-image-2.jpg"
                 class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
                <div class="shell text-center text-md-left">
                    <div class="range">
                        <div class="cell-xs-12">
                            <div class="section-45 section-sm-top-85 section-sm-bottom-75">
                                <div class="elements-group">
                                    <div class="element-wrap">
                                        <h3 class="relative-shift-up-10 noshrink">@Localizer["Пора действовать!"]</h3>
                                        <div class="hr-wrap offset-top-10 offset-sm-top-15 offset-md-top-0">
                                            <hr class="hr-md-vertical hr-white">
                                        </div>
                                        <p class="big">@Localizer["Возьмите под контроль ваши оборотные средства!"]</p>
                                    </div>
                                    <div class="element-wrap">
                                        <a href="/Start/Register"
                                           class="btn btn-sm btn-curious-blue-variant-1 min-width-160">
                                            @Localizer["Попробовать бесплатно"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main><!-- Brands carousel-->

